<div class="page-header">
  
    <% if user_signed_in? %>	
    <h1>Something<small><%=current_user.address%></small></h1>
        <%= link_to "Sell Something", new_product_path, :class=>'btn btn-primary'%></li>
      <%end%>	

    
</div>

	

<% @products.each_with_index do |p, i| %>
<div class= 'media well'> 
				<%= image_tag p.image.url(:medium), :class=>'img-polaroid	media-object pull-left'%> 
					
			<div class ="media-body">	
				 <p class = 'lead'>
				 		<%= p.description %>
					</p>
					 <p class = 'lead'>	 
				 		<strong>
				 				$<%= p.price%>
				 		
				 		</strong>
				 	</p>

					<p class ="muted"> 
				 		<% if @search %>
				 			<%=number_with_precision(p.distance_to(@search), :precision => 2)%> miles from <%=@search%>
				 			<%else%>
				 			<% if user_signed_in? %>
							<%=number_with_precision(p.distance_to(current_user.address), :precision => 2)%> miles from You
							<%end%>
		 				<%end%> 
		 			</p>
				
					<p>
					<em>
				 		posted <%= time_ago_in_words(p.created_at,
				 		include_seconds = false)%> ago
				 	</em>
		 			</p>
		 			<p>
		 				<%= link_to "More", product_path(p.id), :class => 'btn btn-small'  %>
						<% if current_user == p.user%>
							<%= link_to 'Edit', edit_product_path(p), :class => 'btn btn-small' %>
							<%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small'  %> 
						<%end%>
					</p>
				</div>
			</div>
		
	
	<%end%>



