<div class = "media well clearfix">
   <%= image_tag @product.image.url(:medium), :class => "img-polaroid media-object pull-left"%>  
  <div class = "media-body"> 
    <p class = 'lead'>
      <%= @product.description %>
      $<%= @product.price %>
    <p>
  </div>
</div>


 
 <%= render @product.comments %>


 <%= render 'comments/form', comment: @product.comments.build, product: @product %>
